# Basi di Dati Mod. 2 - SQLAlchemy

### Luca Cosmo, Università Ca' Foscari Venezia

SQLAlchemy è una delle librerie più popolari per interfacciarsi con un database relazionale tramite Python:
- **Core**: interfaccia di accesso alla base di dati relazionale simile in spirito a JDBC, ma che permette di astrarre dalla specifica sintassi del DBMS sottostante. La scelta più naturale per esperti di SQL
- **ORM**: astrazione ad oggetti della base di dati relazionale, che mitiga il problema dell’impedence mismatch

In questa lezione ci concentreremo sulla componente Core, cioè quella di più basso livello, mentre nella prossima parleremo di ORM.

Installazione tramite: `pip install sqlalchemy`

Nota: SQLAlchemy 2.0 ha introdotto diversi cambiamenti maggiori rispetto alle versioni precedenti. Il materiale del corso è stato originariamente progettato sulla versione 1.3 della libreria e poi aggiornato in seguito. Il codice di questo notebook funziona correttamente con le nuove versioni di SQLAlchemy, ma potrebbe non riflettere nella maniera più accurata alcune nuove convenzioni e pratiche di programmazione. Si fa riferimento alla documentazione della libreria per ulteriori dettagli.

## Architettura di SQLAlchemy

![sqla_arch_small.png]()

### SQL Alchemy Core
SQLAlchemy Core integra due modalità di utilizzo:
- **Expression Language**: le query vengono effettuate tramite metodi Python e vengono compilate in modo appropriato per il DBMS sottostante
- **Textual SQL**: le query vengono scritte direttamente come stringhe nella sintassi SQL del DBMS sottostante

E’ possibile utilizzare entrambe le modalità nello stesso progetto, ma la prima è preferibile per essere indipendenti dal DBMS sottostante e per proteggersi naturalmente da SQL injection.

Reference documentation: https://docs.sqlalchemy.org/en/20/core/

## Concetti chiave

SQLAlchemy si appoggia a tre entità chiave:
1. **engine**: un’astrazione del DBMS sottostante, per esempio SQLite, MySQL oppure PostgreSQL
2. **metadata**: un’astrazione dello schema relazionale su cui operare, contenente tutte le relazioni al suo interno
3. **connessione**: l’interfaccia di accesso all’engine tramite la quale eseguiamo le query desiderate. Può definire anche lo scope di una transazione.

Un engine contiene informazioni sufficienti per aprire una connessione, attraverso la quale si può iniziare ad operare sui metadata.

### Connessione al DB

In [ ]:
import sqlalchemy as sq

# SQLite supporta database transienti in RAM (echo attiva il logging)
engine = sq.create_engine('sqlite://', echo = True) # <-- verbose

#possiamo cheidere all'engine di effettuare una connessione al database (ricordatevi di chiuderla)
#possiamo usare la connessione pr inviare query al database e ricevere il risultato
with engine.connect() as conn:
  conn.execute(sq.text("CREATE TABLE some_table (x int, y int)"))
  conn.commit()

  conn.execute(sq.text("INSERT INTO some_table (x, y) VALUES (1,2)"))

  conn.commit()  #ATTENZIONE: di default SQLAlchemy non usa l'autocommit

2024-04-10 09:47:56,482 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-10 09:47:56,489 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)

INFO:sqlalchemy.engine.Engine:CREATE TABLE some_table (x int, y int)

2024-04-10 09:47:56,495 INFO sqlalchemy.engine.Engine [generated in 0.01450s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01450s] ()

2024-04-10 09:47:56,503 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-04-10 09:47:56,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-10 09:47:56,521 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (1,2)

INFO:sqlalchemy.engine.Engine:INSERT INTO some_table (x, y) VALUES (1,2)

2024-04-10 09:47:56,531 INFO sqlalchemy.engine.Engine [generated in 0.02197s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.02197s] ()

2024-04-10 09:47:56,538 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
engine.connect()

### Dietro alle quinte
A partire da queste poche righe di codice, succedono un sacco di cose interessanti dietro alle quinte di SQLAlchemy.

![sqla_engine_arch.png]()

Quando creiamo un engine, il formato dell’URL che gli passiamo determina come tradurre la sintassi SQLAlchemy nella sintassi (**dialect**) del DBMS sottostante. In questo caso abbiamo usato SQLite per semplicità, ma lo stesso approccio si può utilizzare per interfacciarsi con Postgres:

`'postgresql://scott:tiger@localhost:5432/mydatabase'`

La creazione di un engine non effettua alcuna connessione finché non viene chiamato `connect`. Visto che aprire una connessione è un’operazione costosa, SQLAlchemy utilizza un **pool** di connessioni:
- quando una connessione viene chiusa, SQLAlchemy non la chiude immediatamente, ma la mette in un pool per renderla riutilizzabile
- quando una connessione viene aperta, SQLAlchemy controlla prima che non vi sia già una connessione disponibile nel pool
- le connessioni nel pool sono periodicamente validate e vengono chiuse automaticamente se vi rimangono per troppo tempo

### Inserimento/Modifica

In [ ]:
with engine.connect() as conn:
    conn.execute(
        sq.text("INSERT INTO some_table (x, y) VALUES (:x, :y)"), {"x": 1, "y": 2}) #Prepared statement
    conn.commit()

2024-04-10 09:54:48,433 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-10 09:54:48,448 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO some_table (x, y) VALUES (?, ?)

2024-04-10 09:54:48,450 INFO sqlalchemy.engine.Engine [cached since 62.85s ago] (1, 2)

INFO:sqlalchemy.engine.Engine:[cached since 62.85s ago] (1, 2)

2024-04-10 09:54:48,456 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
#Un altro modo di creare una connessione è di considerarla una "block transaction"
with engine.begin() as conn:
    conn.execute(
        sq.text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}]) #Prepared statement con inserimento multiplo

2024-04-10 09:56:06,547 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-10 09:56:06,577 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO some_table (x, y) VALUES (?, ?)

2024-04-10 09:56:06,596 INFO sqlalchemy.engine.Engine [cached since 22.05s ago] [(6, 8), (9, 10)]

INFO:sqlalchemy.engine.Engine:[cached since 22.05s ago] [(6, 8), (9, 10)]

2024-04-10 09:56:06,611 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### Leggere righe

In [ ]:
with engine.connect() as conn:
    result = conn.execute(sq.text("SELECT x, y FROM some_table")) #la SELECT restituisce un iteratore di "named tuples"
    for row in result:
        print(f"x: {row.x}  y: {row.y}")
    for a,b in result:
      print(f"x: {a}  y: {b}")
result

2024-04-10 10:01:05,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-10 10:01:05,835 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table

INFO:sqlalchemy.engine.Engine:SELECT x, y FROM some_table

2024-04-10 10:01:05,838 INFO sqlalchemy.engine.Engine [cached since 101.6s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 101.6s ago] ()

x: 1  y: 2
x: 1  y: 1
x: 1  y: 2
x: 6  y: 8
x: 9  y: 10
x: 6  y: 8
x: 9  y: 10
2024-04-10 10:01:05,845 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [ ]:
with engine.connect() as conn:
    result = conn.execute(sq.text("SELECT x, y FROM some_table WHERE y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2024-04-10 10:01:29,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-10 10:01:29,169 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?

INFO:sqlalchemy.engine.Engine:SELECT x, y FROM some_table WHERE y > ?

2024-04-10 10:01:29,172 INFO sqlalchemy.engine.Engine [generated in 0.01311s] (2,)

INFO:sqlalchemy.engine.Engine:[generated in 0.01311s] (2,)

x: 6  y: 8
x: 9  y: 10
x: 6  y: 8
x: 9  y: 10
2024-04-10 10:01:29,177 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

## Metadata

Lo schema di un database è rappresentato in SQLAlchemy attraverso un oggetto **MetaData**, su cui possiamo definire delle **Table** composte da una serie di **Column** che ne definiscono gli attributi

### Creazione di un database

In [3]:
import sqlalchemy as sq
from sqlalchemy import MetaData, Table, Column, ForeignKey

#creaiamo un nuovo database
engine = sq.create_engine('sqlite://', echo = True)

metadata = MetaData()

users = Table('users', metadata, Column('id', sq.Integer, primary_key=True), #primary key
                                 Column('name', sq.String),
                                 Column('fullname', sq.String))

addresses = Table('addresses', metadata, Column('id', sq.Integer, primary_key=True),
                                         Column('user_id', None, ForeignKey('users.id'), nullable=False), #non serve specificare il tipo se foreign key
                                         Column('email_address', sq.String, nullable=False)) #NOT NULL

metadata.create_all(engine)  # creazione dello schema nel DB

2024-04-15 09:06:34,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:06:34,367 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-04-15 09:06:34,370 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 09:06:34,377 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2024-04-15 09:06:34,380 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 09:06:34,385 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2024-04-15 09:06:34,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 09:06:34,390 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("addresses")
2024-04-15 09:06:34,392 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 09:06:34,396 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2024-04-15 09:06:34,398 INFO sqlalchemy.engine.Engine [no key 0.00218s] ()
2024-04-15 09:06:34,409 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2024-04-15 09:06:34,411 INFO sqlalchemy.engine.Engine [no key 0.00216s] ()
2024-04-15 09:06:34,414 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
users.c.name
#users.c.keys()

Column('name', String(), table=<users>)

## Expression Language

### Inserimento di dati
Tramite la funzione **insert()**

In [5]:
ins = sq.insert(users) # astrazione di un INSERT statement sulla tabella users
# ins = users.insert()
print(ins) #construisce un prepared statement per l'insert
print(type(ins))

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
<class 'sqlalchemy.sql.dml.Insert'>

In [6]:
ins = sq.insert(users).values(name='jack', fullname='Jack Jones')
print(ins)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [7]:
ins.compile().params

{'name': 'jack', 'fullname': 'Jack Jones'}

In [8]:
with engine.begin() as conn:
    res = conn.execute(ins) # attenzione alla presenza dei punti di domanda nell'output

2024-04-15 09:11:27,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:11:27,960 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2024-04-15 09:11:27,966 INFO sqlalchemy.engine.Engine [generated in 0.00915s] ('jack', 'Jack Jones')
2024-04-15 09:11:27,970 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
print(res.inserted_primary_key)

(1,)

In [9]:
ins = sq.insert(users)
print(ins)
#

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [10]:
with engine.begin() as conn:
    conn.execute(ins, {'name': 'wendy', 'fullname': 'Wendy Williams'})
    conn.execute(ins, {'name': 'sally', 'fullname': 'Sally Roberts'})
    conn.execute(ins, {'name': 'wendy', 'fullname': 'Wendy Roberts'})

2024-04-15 09:14:37,209 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:14:37,220 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2024-04-15 09:14:37,223 INFO sqlalchemy.engine.Engine [generated in 0.00397s] ('wendy', 'Wendy Williams')
2024-04-15 09:14:37,226 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2024-04-15 09:14:37,228 INFO sqlalchemy.engine.Engine [cached since 0.009102s ago] ('sally', 'Sally Roberts')
2024-04-15 09:14:37,233 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2024-04-15 09:14:37,237 INFO sqlalchemy.engine.Engine [cached since 0.01764s ago] ('wendy', 'Wendy Roberts')
2024-04-15 09:14:37,240 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
with engine.begin() as conn:
  res = conn.execute(addresses.insert(), [{'user_id': 1, 'email_address' : 'jack@yahoo.com'},
                                        {'user_id': 1, 'email_address' : 'jack@msn.com'},
                                        {'user_id': 2, 'email_address' : 'www@www.org'},
                                        {'user_id': 2, 'email_address' : 'wendy@aol.com'}])

2024-04-15 09:14:51,966 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:14:51,978 INFO sqlalchemy.engine.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2024-04-15 09:14:51,983 INFO sqlalchemy.engine.Engine [generated in 0.00603s] [(1, 'jack@yahoo.com'), (1, 'jack@msn.com'), (2, 'www@www.org'), (2, 'wendy@aol.com')]
2024-04-15 09:14:51,986 INFO sqlalchemy.engine.Engine COMMIT

### Selezione di dati

In [ ]:
print(type(users))

<class 'sqlalchemy.sql.schema.Table'>

In [12]:
s = sq.select(users)
print(s)
print('-----------------------------------------------')
with engine.connect() as conn:
  result = conn.execute(s)

type(result)

SELECT users.id, users.name, users.fullname
FROM users
-----------------------------------------------
2024-04-15 09:16:08,371 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:16:08,377 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname
FROM users
2024-04-15 09:16:08,389 INFO sqlalchemy.engine.Engine [generated in 0.01819s] ()
2024-04-15 09:16:08,391 INFO sqlalchemy.engine.Engine ROLLBACK

sqlalchemy.engine.cursor.CursorResult

In [13]:
row = result.fetchone()
print("The row contains name:", row[1], "; fullname:", row[2])

The row contains name: jack ; fullname: Jack Jones

In [14]:
for row in result: #rimanenti
    print (row)

(2, 'wendy', 'Wendy Williams')
(3, 'sally', 'Sally Roberts')
(4, 'wendy', 'Wendy Roberts')

In [17]:
s = sq.select(users.c.name, users.c.fullname)
s = sq.select(users.c["name", "fullname"])
print(s)
print('---------------------------')
with engine.connect() as conn:
  result = conn.execute(s)
for row in result:
    print(row)

SELECT users.name, users.fullname
FROM users
---------------------------
2024-04-15 09:18:24,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:18:24,617 INFO sqlalchemy.engine.Engine SELECT users.name, users.fullname
FROM users
2024-04-15 09:18:24,626 INFO sqlalchemy.engine.Engine [cached since 27.02s ago] ()
2024-04-15 09:18:24,656 INFO sqlalchemy.engine.Engine ROLLBACK
('jack', 'Jack Jones')
('wendy', 'Wendy Williams')
('sally', 'Sally Roberts')
('wendy', 'Wendy Roberts')

### Operatori e condizioni logiche

In [20]:
s = sq.select(users, addresses).where(users.c.id == addresses.c.user_id)
print(s)
print('---------------------------')
with engine.connect() as conn:
  result = conn.execute(s)
for row in result:
    print(row)

SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
---------------------------
2024-04-15 09:20:00,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:20:00,152 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2024-04-15 09:20:00,156 INFO sqlalchemy.engine.Engine [cached since 43.24s ago] ()
2024-04-15 09:20:00,159 INFO sqlalchemy.engine.Engine ROLLBACK
(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com')
(1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com')
(2, 'wendy', 'Wendy Williams', 3, 2, 'www@www.org')
(2, 'wendy', 'Wendy Williams', 4, 2, 'wendy@aol.com')

In [21]:
s = sq.select(users).where(users.c.name=='wendy')
print(s)
print('---------------------------')
with engine.connect() as conn:
  result = conn.execute(s)
for row in result:
    print(row)

SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name = :name_1
---------------------------
2024-04-15 09:20:50,665 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:20:50,669 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name = ?
2024-04-15 09:20:50,670 INFO sqlalchemy.engine.Engine [generated in 0.00503s] ('wendy',)
2024-04-15 09:20:50,672 INFO sqlalchemy.engine.Engine ROLLBACK
(2, 'wendy', 'Wendy Williams')
(4, 'wendy', 'Wendy Roberts')

In [22]:
print(users.c.id == addresses.c.user_id)    # ci aspetteremmo True oppure False...

users.id = addresses.user_id

In [23]:
type(users.c.id == addresses.c.user_id)     # ci aspetteremmo bool...

sqlalchemy.sql.elements.BinaryExpression

In [24]:
print(users.c.name == None)

users.name IS NULL

In [25]:
cond = sq.and_(users.c.name.like('j%'),
            users.c.id == addresses.c.user_id,
            sq.or_(addresses.c.email_address == 'wendy@aol.com',
                addresses.c.email_address == 'jack@yahoo.com'),
            sq.not_(users.c.id > 5))

print(cond)

users.name LIKE :name_1 AND users.id = addresses.user_id AND (addresses.email_address = :email_address_1 OR addresses.email_address = :email_address_2) AND users.id <= :id_1

In [26]:
cond.compile().params

{'name_1': 'j%',
 'email_address_1': 'wendy@aol.com',
 'email_address_2': 'jack@yahoo.com',
 'id_1': 5}

In [27]:
s = sq.select(users, addresses).where(cond)
print(s)
print('---------------------------')
with engine.connect() as conn:
  result = conn.execute(s)
for row in result:
    print(row)

SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.name LIKE :name_1 AND users.id = addresses.user_id AND (addresses.email_address = :email_address_1 OR addresses.email_address = :email_address_2) AND users.id <= :id_2
---------------------------
2024-04-15 09:25:07,574 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:25:07,584 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.name LIKE ? AND users.id = addresses.user_id AND (addresses.email_address = ? OR addresses.email_address = ?) AND users.id <= ?
2024-04-15 09:25:07,594 INFO sqlalchemy.engine.Engine [generated in 0.01964s] ('j%', 'wendy@aol.com', 'jack@yahoo.com', 5)
2024-04-15 09:25:07,607 INFO sqlalchemy.engine.Engine ROLLBACK
(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com')

In [28]:
s = sq.select((users.c.fullname + ", " + addresses.c.email_address).label('title')).\
           where(users.c.id == addresses.c.user_id).\
           where(users.c.name.between('m', 'z')).\
           where(sq.or_(addresses.c.email_address.like('%@aol.com'),
                     addresses.c.email_address.like('%@msn.com')))

print(s)
print('---------------------------')
with engine.connect() as conn:
  result = conn.execute(s)
for row in result:
    print(row)

SELECT users.fullname || :fullname_1 || addresses.email_address AS title
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN :name_1 AND :name_2 AND (addresses.email_address LIKE :email_address_1 OR addresses.email_address LIKE :email_address_2)
---------------------------
2024-04-15 09:26:29,515 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:26:29,521 INFO sqlalchemy.engine.Engine SELECT users.fullname || ? || addresses.email_address AS title
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name BETWEEN ? AND ? AND (addresses.email_address LIKE ? OR addresses.email_address LIKE ?)
2024-04-15 09:26:29,538 INFO sqlalchemy.engine.Engine [generated in 0.02365s] (', ', 'm', 'z', '%@aol.com', '%@msn.com')
2024-04-15 09:26:29,550 INFO sqlalchemy.engine.Engine ROLLBACK
('Wendy Williams, wendy@aol.com',)

### Giunzioni

In [ ]:
s = sq.select(users,addresses)
print(s)

SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users, addresses

In [33]:
j = sq.select(users).join(addresses)    # attenzione all'utilizzo automatico della foreign key!
j = sq.select(users).join(addresses, users.c.id==addresses.c.user_id)  #in presenza di più foreign key dobbiamo specificare l'attributo di giunzione
print(j)

SELECT users.id, users.name, users.fullname
FROM users JOIN addresses ON users.id = addresses.user_id

In [31]:
s = sq.select(users).select_from(users) #la clausola from viene inferita in query semplici
print(s)

SELECT users.id, users.name, users.fullname
FROM users

In [34]:
s = sq.select(users.c.fullname, addresses.c.email_address).select_from(j) #sottoquery
with engine.connect() as conn:
  print(conn.execute(s).fetchall())

2024-04-15 09:29:09,825 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:29:09,831 INFO sqlalchemy.engine.Engine SELECT users.fullname, addresses.email_address
FROM (SELECT users.id AS id, users.name AS name, users.fullname AS fullname
FROM users JOIN addresses ON users.id = addresses.user_id) AS anon_1, users, addresses
2024-04-15 09:29:09,837 INFO sqlalchemy.engine.Engine [generated in 0.01349s] ()
[('Jack Jones', 'jack@yahoo.com'), ('Jack Jones', 'jack@msn.com'), ('Jack Jones', 'www@www.org'), ('Jack Jones', 'wendy@aol.com'), ('Wendy Williams', 'jack@yahoo.com'), ('Wendy Williams', 'jack@msn.com'), ('Wendy Williams', 'www@www.org'), ('Wendy Williams', 'wendy@aol.com'), ('Sally Roberts', 'jack@yahoo.com'), ('Sally Roberts', 'jack@msn.com'), ('Sally Roberts', 'www@www.org'), ('Sally Roberts', 'wendy@aol.com'), ('Wendy Roberts', 'jack@yahoo.com'), ('Wendy Roberts', 'jack@msn.com'), ('Wendy Roberts', 'www@www.org'), ('Wendy Roberts', 'wendy@aol.com'), ('Jack Jones', 'jack@yahoo.com'), ('Jack Jones', 'jack@msn.com'), ('Jack Jones', 'www@www.org'), ('Jack Jones', 'wendy@aol.com'), ('Wendy Williams', 'jack@yahoo.com'), ('Wendy Williams', 'jack@msn.com'), ('Wendy Williams', 'www@www.org'), ('Wendy Williams', 'wendy@aol.com'), ('Sally Roberts', 'jack@yahoo.com'), ('Sally Roberts', 'jack@msn.com'), ('Sally Roberts', 'www@www.org'), ('Sally Roberts', 'wendy@aol.com'), ('Wendy Roberts', 'jack@yahoo.com'), ('Wendy Roberts', 'jack@msn.com'), ('Wendy Roberts', 'www@www.org'), ('Wendy Roberts', 'wendy@aol.com'), ('Jack Jones', 'jack@yahoo.com'), ('Jack Jones', 'jack@msn.com'), ('Jack Jones', 'www@www.org'), ('Jack Jones', 'wendy@aol.com'), ('Wendy Williams', 'jack@yahoo.com'), ('Wendy Williams', 'jack@msn.com'), ('Wendy Williams', 'www@www.org'), ('Wendy Williams', 'wendy@aol.com'), ('Sally Roberts', 'jack@yahoo.com'), ('Sally Roberts', 'jack@msn.com'), ('Sally Roberts', 'www@www.org'), ('Sally Roberts', 'wendy@aol.com'), ('Wendy Roberts', 'jack@yahoo.com'), ('Wendy Roberts', 'jack@msn.com'), ('Wendy Roberts', 'www@www.org'), ('Wendy Roberts', 'wendy@aol.com'), ('Jack Jones', 'jack@yahoo.com'), ('Jack Jones', 'jack@msn.com'), ('Jack Jones', 'www@www.org'), ('Jack Jones', 'wendy@aol.com'), ('Wendy Williams', 'jack@yahoo.com'), ('Wendy Williams', 'jack@msn.com'), ('Wendy Williams', 'www@www.org'), ('Wendy Williams', 'wendy@aol.com'), ('Sally Roberts', 'jack@yahoo.com'), ('Sally Roberts', 'jack@msn.com'), ('Sally Roberts', 'www@www.org'), ('Sally Roberts', 'wendy@aol.com'), ('Wendy Roberts', 'jack@yahoo.com'), ('Wendy Roberts', 'jack@msn.com'), ('Wendy Roberts', 'www@www.org'), ('Wendy Roberts', 'wendy@aol.com')]
2024-04-15 09:29:09,841 INFO sqlalchemy.engine.Engine ROLLBACK

/var/folders/g0/_8g9ybsn4zn5s1tz2nsd6bvc0000gn/T/ipykernel_2028/234560024.py:1: SADeprecationWarning: Implicit coercion of SELECT and textual SELECT constructs into FROM clauses is deprecated; please call .subquery() on any Core select or ORM Query object in order to produce a subquery object.
  s = sq.select(users.c.fullname, addresses.c.email_address).select_from(j) #sottoquery
/var/folders/g0/_8g9ybsn4zn5s1tz2nsd6bvc0000gn/T/ipykernel_2028/234560024.py:3: SAWarning: SELECT statement has a cartesian product between FROM element(s) "addresses", "users" and FROM element "anon_1".  Apply join condition(s) between each element to resolve.
  print(conn.execute(s).fetchall())

In [35]:
j = users.join(addresses, addresses.c.email_address.like(users.c.name + '%'))
print(j)

users JOIN addresses ON addresses.email_address LIKE (users.name || :name_1)

In [36]:
# s = sq.select(users.c.fullname, addresses.c.email_address).select_from(j)
s = sq.select(users, addresses).select_from(j)
print(s)
with engine.connect() as conn:
  print("RES: ", conn.execute(s).fetchall())

SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users JOIN addresses ON addresses.email_address LIKE (users.name || :name_1)
2024-04-15 09:30:52,441 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:30:52,451 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, addresses.id AS id_1, addresses.user_id, addresses.email_address
FROM users JOIN addresses ON addresses.email_address LIKE (users.name || ?)
2024-04-15 09:30:52,454 INFO sqlalchemy.engine.Engine [generated in 0.01554s] ('%',)
RES:  [(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com'), (1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com'), (2, 'wendy', 'Wendy Williams', 4, 2, 'wendy@aol.com'), (4, 'wendy', 'Wendy Roberts', 4, 2, 'wendy@aol.com')]
2024-04-15 09:30:52,460 INFO sqlalchemy.engine.Engine ROLLBACK

In [37]:
j = users.outerjoin(addresses)
s = sq.select(users.c.fullname, addresses.c.email_address).select_from(j)
with engine.connect() as conn:
  print("RES: ", conn.execute(s).fetchall())

2024-04-15 09:30:57,039 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:30:57,058 INFO sqlalchemy.engine.Engine SELECT users.fullname, addresses.email_address
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id
2024-04-15 09:30:57,059 INFO sqlalchemy.engine.Engine [generated in 0.02066s] ()
RES:  [('Jack Jones', 'jack@msn.com'), ('Jack Jones', 'jack@yahoo.com'), ('Wendy Williams', 'wendy@aol.com'), ('Wendy Williams', 'www@www.org'), ('Sally Roberts', None), ('Wendy Roberts', None)]
2024-04-15 09:30:57,088 INFO sqlalchemy.engine.Engine ROLLBACK

### Aggiornamenti e cancellazioni

In [38]:
u = users.update().where(users.c.id == 1).values(name='jj')
with engine.begin() as conn:
  conn.execute(u)

with engine.begin() as conn:
  print("RES: ",conn.execute(users.select()).fetchall())

2024-04-15 09:32:11,174 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:32:11,182 INFO sqlalchemy.engine.Engine UPDATE users SET name=? WHERE users.id = ?
2024-04-15 09:32:11,197 INFO sqlalchemy.engine.Engine [generated in 0.01502s] ('jj', 1)
2024-04-15 09:32:11,200 INFO sqlalchemy.engine.Engine COMMIT
2024-04-15 09:32:11,202 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:32:11,205 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname
FROM users
2024-04-15 09:32:11,207 INFO sqlalchemy.engine.Engine [cached since 962.8s ago] ()
RES:  [(1, 'jj', 'Jack Jones'), (2, 'wendy', 'Wendy Williams'), (3, 'sally', 'Sally Roberts'), (4, 'wendy', 'Wendy Roberts')]
2024-04-15 09:32:11,210 INFO sqlalchemy.engine.Engine COMMIT

In [40]:
d = users.delete().where(users.c.name > 'm')
with engine.begin() as conn:
  conn.execute(d)

with engine.begin() as conn:
  print("RES: ",conn.execute(users.select()).fetchall())

2024-04-15 09:34:04,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:34:04,501 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.name > ?
2024-04-15 09:34:04,504 INFO sqlalchemy.engine.Engine [generated in 0.00375s] ('m',)
2024-04-15 09:34:04,508 INFO sqlalchemy.engine.Engine COMMIT
2024-04-15 09:34:04,512 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 09:34:04,521 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname
FROM users
2024-04-15 09:34:04,529 INFO sqlalchemy.engine.Engine [cached since 1076s ago] ()
RES:  [(1, 'jj', 'Jack Jones')]
2024-04-15 09:34:04,536 INFO sqlalchemy.engine.Engine COMMIT

### Table Reflection

In questa lezione abbiamo creato un nuovo database, ma se volessimo interfacciarci con uno già esistente dovremmo avere un modo per ottenere gli oggetti corrispondenti alle sue tabelle. Sebbene chiamare `create_all` non sovrascriva il contenuto di tabelle esistenti, definire esplicitamente l'intera struttura di ciascuna tabella è molto scomodo. Per ovviare a questo problema è possibile utilizzare una forma di **reflection** sulle tabelle già esistenti:

In [41]:
users2 = Table('users', metadata, autoload_with=engine) #lo schema del DB viene usato per definire gli attributi
display(users2)
print([c.name for c in users2.columns])

Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

['id', 'name', 'fullname']

In [43]:
users2.c.id

Column('id', Integer(), table=<users>, primary_key=True, nullable=False)

In [45]:
engine.dispose()

In [49]:
engine_lab = sq.create_engine('postgresql://uxyfjrnn:EyVN9ZBHo1SR_Oirn1o_w1fSFci_T6K0@cornelius.db.elephantsql.com/uxyfjrnn',
                              echo = True, pool_size=2) # <-- verbose

metadata_lab = MetaData(schema='lab')
products = Table('product', metadata_lab, autoload_with=engine_lab)
products

ModuleNotFoundError: No module named 'psycopg2'

In [50]:
with engine_lab.begin() as conn:
  print("RES: ",conn.execute(sq.select(products)).fetchall())

NameError: name 'engine_lab' is not defined

### Esercizio

Create tramite SQLAlchemy Core le seguenti tabelle:
* Product(maker, model*, type)
* PC(<u>model*</u>, speed, ram, hd, price)
* Laptop(<u>model*</u>, speed, ram, hd, screen, price)
* Printer(<u>model*</u>, color, type, price)

Definite opportune chiavi primarie ed esterne, scegliendo i tipi di dato appropriati per i vari attributi. Una volta fatto ciò, popolate le tabelle con alcuni dati artificiali ed effettuate tramite l'Expression Language di SQLAlchemy le seguenti query:
1. Trovare il modello, la velocità e la dimensione dell'hard disk di tutti i PC che costano meno di $1000.
2. Trovare tutti i produttori di stampanti.
3. Trovare il produttore e la velocità dei laptop con un hard disk da almeno 300 GB.
4. Trovare il modello ed il prezzo di tutti i PC ed i laptop realizzati dalla Lenovo.
5. Trovare le dimensioni degli hard disk che occorrono in almeno due PC.
6. Trovare tutte le aziende che producono laptop, ma non PC.
7. Trovare i produttori di PC con una velocità minima di 2.0 GHz.
8. Trovare tutte le aziende che producono sia PC che laptop.

Procedete immaginando la query SQL e traducendola nell'Expression Language di SQLAlchemy. Consultate la documentazione di SQLAlchemy dove necessario.